nodered/provisioning/lib/flows/RasperryPi/basics/setBrowserTime.json
[{"id":"2a018f12.74a6f","type":"exec","z":"6820ac0.05dafd4","command":"sudo date -s ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":280,"wires":[[],[],[]]},{"id":"8cb5c306.37da6","type":"function","z":"6820ac0.05dafd4","name":"Transform Timestamp","func":"msg.date = msg.payload.substr(0,33);\nmsg.payload = \"'\"+msg.date+\"'\";\n\nreturn msg;\n\n//sudo date -s \"Thu Aug  9 21:31:26 UTC 2017\"\n\n//sudo date -s \"Mon Jul 09 2018 13:46:49 GMT+0200\"","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["2a018f12.74a6f"]]},{"id":"7256333e.4f4f9c","type":"ui_template","z":"6820ac0.05dafd4","group":"b4045cc8.2200b","name":"Set Time from Browser","order":0,"width":0,"height":0,"format":"<script>\nvar value = Date();\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n</script>\n<md-button ng-click=\"send({payload:action()})\">\n    set New Date to Pi\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":300,"y":280,"wires":[["8cb5c306.37da6"]]},{"id":"b4045cc8.2200b","type":"ui_group","z":"","name":"Raspberry Pi Shutdown","tab":"6f91c194.4c9ce8","order":1,"disp":true,"width":"6"},{"id":"6f91c194.4c9ce8","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":10}]