nodered/provisioning/lib/flows/RasperryPi/basics/systemValues.json
[{"id":"4d071d0a.a55e24","type":"inject","z":"6820ac0.05dafd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":230,"y":540,"wires":[["926f9ef6.1fff9","2c17a54a.a3c19a","8797c9e5.6fe468","69db82eb.b596a4"]]},{"id":"69db82eb.b596a4","type":"exec","z":"6820ac0.05dafd4","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":450,"y":840,"wires":[["87531727.56eb58"],[],[]]},{"id":"8797c9e5.6fe468","type":"exec","z":"6820ac0.05dafd4","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":450,"y":780,"wires":[["a640db9.938cda8"],[],[]]},{"id":"2c17a54a.a3c19a","type":"exec","z":"6820ac0.05dafd4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":450,"y":720,"wires":[["ef960209.4704c8"],[],[]]},{"id":"926f9ef6.1fff9","type":"exec","z":"6820ac0.05dafd4","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":450,"y":520,"wires":[["bf6caaab.d7d81"],[],[]]},{"id":"a640db9.938cda8","type":"ui_chart","z":"6820ac0.05dafd4","name":"","group":"53c76229.d5dbcc","order":3,"width":0,"height":0,"label":"CPU Load","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":910,"y":760,"wires":[[],[]]},{"id":"87531727.56eb58","type":"ui_chart","z":"6820ac0.05dafd4","name":"","group":"53c76229.d5dbcc","order":4,"width":0,"height":0,"label":"Free RAM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":910,"y":820,"wires":[[],[]]},{"id":"ef960209.4704c8","type":"function","z":"6820ac0.05dafd4","name":"Temp calculation","func":"msg.temp = msg.payload.substr(5,4);\nmsg.payload = msg.temp;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":700,"wires":[["24ce2390.fecc9c"]]},{"id":"699a4be5.b106b4","type":"ui_chart","z":"6820ac0.05dafd4","name":"","group":"53c76229.d5dbcc","order":3,"width":0,"height":0,"label":"Disk Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":910,"y":500,"wires":[[],[]]},{"id":"24ce2390.fecc9c","type":"ui_chart","z":"6820ac0.05dafd4","name":"","group":"53c76229.d5dbcc","order":3,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":890,"y":700,"wires":[[],[]]},{"id":"bf6caaab.d7d81","type":"function","z":"6820ac0.05dafd4","name":"Disk Usage","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":500,"wires":[["699a4be5.b106b4"]]},{"id":"53c76229.d5dbcc","type":"ui_group","z":"","name":"Hardware Charts","tab":"6f91c194.4c9ce8","order":2,"disp":true,"width":"21","collapse":false},{"id":"6f91c194.4c9ce8","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":10}]