nodered/provisioning/lib/flows/influx/basics.json
[{"id":"99e3712e.9788d","type":"influxdb out","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"","measurement":"test","precision":"","retentionPolicy":"","x":600,"y":620,"wires":[]},{"id":"7bb47b8e.f5bb34","type":"influxdb in","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"time query","query":"select * from test;","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":120,"wires":[["52545b.9536c3a4"]]},{"id":"c59574e2.ccee6","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159,"y":120,"wires":[["7bb47b8e.f5bb34"]]},{"id":"52545b.9536c3a4","type":"debug","z":"7d63245.1becf5c","name":"","active":true,"console":"false","complete":"false","x":790,"y":120,"wires":[]},{"id":"ce09ee56.1c5768","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":240,"wires":[["a898da27.39aeb"]]},{"id":"a898da27.39aeb","type":"function","z":"7d63245.1becf5c","name":"show * from test","func":"msg.query=\"select * from test;\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["2eb4d783.303e5"]]},{"id":"2eb4d783.303e5","type":"influxdb in","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":240,"wires":[["b36cf55f.31c86"]]},{"id":"b36cf55f.31c86","type":"debug","z":"7d63245.1becf5c","name":"","active":true,"console":"false","complete":"false","x":790,"y":240,"wires":[]},{"id":"28666788.30671","type":"influxdb out","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"","measurement":"test","precision":"","retentionPolicy":"","x":600,"y":500,"wires":[]},{"id":"50228ee6.5c69d","type":"function","z":"7d63245.1becf5c","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["28666788.30671"]]},{"id":"e3d74742.d0e1b8","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":500,"wires":[["50228ee6.5c69d"]]},{"id":"e230100f.99571","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":540,"wires":[["ddaf89a2.ca0068"]]},{"id":"ddaf89a2.ca0068","type":"function","z":"7d63245.1becf5c","name":"Fields","func":"msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":540,"wires":[["6b407f4b.45824"]]},{"id":"6b407f4b.45824","type":"influxdb out","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"","measurement":"test","precision":"","retentionPolicy":"","x":600,"y":540,"wires":[]},{"id":"4577e5c3.877a0c","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":580,"wires":[["d8bd9fbd.2726f8"]]},{"id":"d8bd9fbd.2726f8","type":"function","z":"7d63245.1becf5c","name":"Fields and Tags","func":"msg.payload = [{\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"sensor1\",\n    tag2:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["f5819a53.0d0538"]]},{"id":"f5819a53.0d0538","type":"influxdb out","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"","measurement":"test","precision":"","retentionPolicy":"","x":600,"y":580,"wires":[]},{"id":"1c8eaeff.521381","type":"function","z":"7d63245.1becf5c","name":"multiple readings","func":"msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date(\"2015-12-28T19:41:14Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["99e3712e.9788d"]]},{"id":"3c3edc3c.1155fc","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":620,"wires":[["1c8eaeff.521381"]]},{"id":"504c972e.f72438","type":"function","z":"7d63245.1becf5c","name":"multiple measurement points","func":"msg.payload = [\n    {\n        measurement: \"weather_sensor\",\n        fields: {\n            temp: 5.5,\n            light: 678,\n            humidity: 51\n        },\n        tags:{\n            location:\"garden\"\n        },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"alarm_sensor\",\n        fields: {\n            proximity: 999,\n            temp: 19.5\n        },\n        tags:{\n            location:\"home\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":740,"wires":[["982909a4.9ea638"]]},{"id":"817568e7.526ed","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":740,"wires":[["504c972e.f72438"]]},{"id":"982909a4.9ea638","type":"influxdb batch","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","precision":"","retentionPolicy":"","name":"","x":590,"y":740,"wires":[]},{"id":"6840364f.2c26","type":"function","z":"7d63245.1becf5c","name":"show measurements","func":"msg.query=\"show measurements\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["a3f76edc.02d3"]]},{"id":"d315f2d6.5a3fd8","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":320,"wires":[["6840364f.2c26"]]},{"id":"a3f76edc.02d3","type":"influxdb in","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":320,"wires":[["b42490c.d63c3f"]]},{"id":"b42490c.d63c3f","type":"debug","z":"7d63245.1becf5c","name":"","active":true,"console":"false","complete":"false","x":790,"y":320,"wires":[]},{"id":"c594418.219e64","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":280,"wires":[["94c1c079.0ca5e8"]]},{"id":"94c1c079.0ca5e8","type":"function","z":"7d63245.1becf5c","name":"show databases","func":"msg.query=\"show databases\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["36a54d06.cd4382"]]},{"id":"36a54d06.cd4382","type":"influxdb in","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":280,"wires":[["d8e42c88.31eb08"]]},{"id":"d8e42c88.31eb08","type":"debug","z":"7d63245.1becf5c","name":"","active":true,"console":"false","complete":"false","x":790,"y":280,"wires":[]},{"id":"4396c529.169044","type":"function","z":"7d63245.1becf5c","name":"show measurements","func":"msg.query=\"show series\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["a3d64b4e.87eba"]]},{"id":"5400b749.e68608","type":"inject","z":"7d63245.1becf5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":360,"wires":[["4396c529.169044"]]},{"id":"a3d64b4e.87eba","type":"influxdb in","z":"7d63245.1becf5c","influxdb":"46489cdb.d7b54c","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":360,"wires":[["7641703d.bb814"]]},{"id":"7641703d.bb814","type":"debug","z":"7d63245.1becf5c","name":"","active":true,"console":"false","complete":"false","x":790,"y":360,"wires":[]},{"id":"a26e9003.045fd8","type":"comment","z":"7d63245.1becf5c","name":"Simple Query","info":"","x":150,"y":80,"wires":[]},{"id":"cb91436f.a2e3c8","type":"comment","z":"7d63245.1becf5c","name":"Queries","info":"","x":130,"y":200,"wires":[]},{"id":"60f800d6.a6d5f8","type":"comment","z":"7d63245.1becf5c","name":"Write to DB","info":"","x":150,"y":460,"wires":[]},{"id":"9386fb40.03867","type":"comment","z":"7d63245.1becf5c","name":"multiple writes to DB","info":"","x":180,"y":700,"wires":[]},{"id":"46489cdb.d7b54c","type":"influxdb","z":"7d63245.1becf5c","hostname":"influxdb","port":"8086","database":"db1","name":"db1","usetls":false,"tls":""}]